@model IEnumerable<Mes.Models.Platform.Assembly>

@{
    ViewBag.Title = "Index";
}

<h2>Изделия</h2>

<p>
    <div class="btn-group" role="group">
        <button onclick="location.href='@Url.Action("Create", "Assemblies")'" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span> Добавить</button>
        <button onclick="location.href='@Url.Action("Index", "Assemblies")'" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-refresh"></span> Обновить</button>
    </div>
</p>
<div class="table-responsive">
    <table class="table table-hover table-bordered table-condensed table-bordered" id="AssembliesTable">
        <thead>
            <tr class="grid_header">
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <button onclick="location.href='@Url.Action("Edit", "Assemblies", new { id = item.Id })'" type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
                        @using (Html.BeginForm("DeleteConfirmed", "Assemblies", new { id = item.Id }, FormMethod.Post, new { onsubmit = "return confirm('Вы уверены?');" }))
                        {
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                        }
                    </td>
                </tr>
            }

    </table>
    </div>
    @section scripts{
        <script>

            $(function () {
                $('#AssembliesTable').DataTable({
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true
                });
            });
        </script>
    }
