@model Mes.Models.Platform.WorkOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assembly.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assembly.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workplace.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workplace.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoneCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoneCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrderStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
