@model IEnumerable<Mes.Models.Platform.WorkOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Заказы на производстве</h2>

<p>
    <div class="btn-group" role="group">
        <button onclick="location.href='@Url.Action("Create", "WorkOrders")'" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span> Создать</button>
        <button onclick="location.href='@Url.Action("Index", "WorkOrders")'" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-refresh"></span> Обновить</button>
    </div>
</p>
<table class="table">
    <tr class="grid_header">
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assembly.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Workplace.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoneCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrderStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Number)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Assembly.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Customer.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Workplace.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Count)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DoneCount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.WorkOrderStatus)
    </td>
    <td>

        <button onclick="location.href='@Url.Action("Edit", "WorkOrders", new { id = item.Id })'" type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
        @using (Html.BeginForm("DeleteConfirmed", "WorkOrders", new { id = item.Id }, FormMethod.Post, new { onsubmit = "return confirm('Вы уверены?');" }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
        }
    </td>
</tr>
}

</table>
