@model IEnumerable<Mes.Models.Platform.WorkOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Assembly.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Workplace.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoneCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrderStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Assembly.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Workplace.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoneCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkOrderStatus)
        </td>
        <td>
            <a href="@Url.Action("Edit", "WorkOrders", new { id = item.Id })">
            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button></a>
            @using (Html.BeginForm("DeleteConfirmed", "WorkOrders", new { id = item.Id }, FormMethod.Post, new { onsubmit = "return confirm('Вы уверены?');" }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
            }
        </td>
    </tr>
}

</table>
