@model IEnumerable<Mes.Models.Platform.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Заказчики</h2>

<p>
    <div class="btn-group" role="group">
        <button onclick="location.href='@Url.Action("Create", "Customers")'" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span> Добавить</button>
        <button onclick="location.href='@Url.Action("Index", "Customers")'" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-refresh"></span> Обновить</button>
    </div>
</p>
<table class="table table-bordered">
    <tr class="grid_header">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
