@model IEnumerable<Mes.Models.Platform.Workplace>

@{
    ViewBag.Title = "Index";
}

<h2>Цеха на производстве</h2>

<p>
    <div class="btn-group" role="group">
        <button onclick="location.href='@Url.Action("Create", "Workplaces")'" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span> Добавить</button>
        <button onclick="location.href='@Url.Action("Index", "Workplaces")'" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-refresh"></span> Обновить</button>
    </div>
</p>
<table class="table table-bordered">
    <tr class="grid_header">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <button onclick="location.href='@Url.Action("Edit", "Workplaces", new { id = item.Id })'" type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
            @using (Html.BeginForm("DeleteConfirmed", "Workplaces", new { id = item.Id }, FormMethod.Post, new { onsubmit = "return confirm('Вы уверены?');" }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
            }
        </td>
    </tr>
}

</table>
